body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 3px;
}

h1 {
  text-align: center;
}

.btn {
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-danger {
  background: #dc3545;
}

.container1 {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.container2 {
  background: #7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 li {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}

.qtde {
  border: solid black 1px;
  background-color: #f9f9f9;
  width: 40px;
}

.conjuntoAdicionar {
  display: flex;
  justify-content: space-between;
}

.tiposMedida {
  border: solid black 1px;
  background-color: #f9f9f9;
}